<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>OA公文系统任务页</title>
<link rel="stylesheet" href="view/css/bootcss/css/bootstrap.css">
<link rel="stylesheet" href="view/css/font/css/font-awesome.css">
<link href="view/css/index.css" rel="stylesheet" style="text/css">
<link rel="stylesheet" href="view/css/layNew.css">
<link rel="stylesheet" href="view/css/public.css">
<link rel="stylesheet" href="view/css/header-ch.css">
<!--[if lte IE 7]>
<link rel="stylesheet" href="view/css/header-ie.css">
<![endif]-->
<script src="view/js/jquery.js"></script>
<script src="view/js/comment.js"></script> 
</head>
<body>
	<!--页面顶部-->
  <div class="header">
    <div class="logo"><img src="view/images/logo.png" alt="ECJTU.NET" title="日新OA系统"></div>
    <div class="top_right">
      <ul>
        <li><a href="index.php?page=1"><i class="icon-home"></i> 首页</a></li>
        <li><a href="index.php?page=2"><i class="icon-group"></i> 成员管理</a></li>
        <li><a href="index.php?page=3"><i class="icon-user"></i> 个人中心<span class="badge"></span></a></li>
      </ul>
    </div>
  </div>
    <div id="wapper">
    	  <!--页面左部-->
          <div id="side">
          	<ul>
            	<li class="fabu"><a class="theme-publish"  href="javascript:;">发布任务</a></li>
                <li class="jishu"><a href="javascript:get_center(1);" >技术研发中心</a></li>
                <li class="xinwen"><a href="javascript:get_center(2);" >新闻出版中心</a></li>
                <li class="xinzhen"><a href="javascript:get_center(3);" >行政管理中心</a></li>
                <li class="chanpin"><a href="javascript:get_center(4);" >产品运营中心</a></li>
            </ul>
          </div>
          
          <!--页面右部-->
          <div id="main">
          	<div id="work">
            	<div class="top"></div>  
            </div>
            <!--任务详情页面-->
            <div id="work-content"></div>
          </div>
    </div>
     <!-- 发布任务 -->
      <div class="theme-popover">
             <div class="theme-poptit">
                  <a href="javascript:;" title="关闭" class="close">×</a>
                  <h1>发布任务</h1><div class="logo_show"><img src="view/images/logo_lit.png" alt="日新OA" title="日新OA"></div>
             </div>
             <div class="theme-popbod dform">
                   <form class="theme-signin" name="loginform" action="ecjtu/task_add.php" method="post">
                        <ol>
                             <li><strong>项目名称：</strong><input class="ipt" type="text" name="title" size="30" /></li>
                             <li><strong>&emsp;发布者：</strong><input class="ipt" type="text" name="writer" size="30" /></li>
                             <li><strong>开始时间：</strong><input class="ipt" type="date" name="start" size="30" /></li>
                             <li><strong>任务期限：</strong><input class="ipt" type="text" name="end" size="30" placeholder="天" /></li>
                             <li><strong>项目简介：</strong><input class="ipt" type="text" name="des" size="30" /></li>
                             <li><strong>项目详情：</strong><textarea class="" type="text" name="info" cols="60" rows="8" ></textarea> </li> 
                             <li><input class="btn btn-primary" type="submit" name="submit_task" value=" 发 布 " /></li>
                        </ol>
                   </form>
             </div>
        </div>
        <div class="theme-popover-mask"></div>
 <script src="view/js/index.js"></script>
 </body>
</html>