<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>消息</title>
	<link rel="stylesheet" href="view/css/layNew.css">
	<link rel="stylesheet" href="view/css/bootcss/css/bootstrap.css">
	<link rel="stylesheet" href="view/css/public.css" type="text/css">
	<link rel="stylesheet" href="view/css/message.css">
	<link rel="stylesheet" href="view/css/font/css/font-awesome.css">
	<link rel="stylesheet" href="view/css/header-ch.css">
	<!--[if lte IE 7]>
	<link rel="stylesheet" href="view/css/header-ie.css">
	<![endif]-->
	<script src="view/js/jquery.js"></script>
	<script src="view/js/mesback.js"></script>
	<script src="view/js/comment.js"></script>
</head>
<body id="body">
	<div class="header">
    <div class="logo"><img src="view/images/logo.png" alt="ECJTU.NET" title="日新OA系统"></div>
    <div class="top_right">
      <ul>
        <li><a href="index.php?page=1"><i class="icon-home"></i> 首页</a></li>
        <li><a href="index.php?page=2"><i class="icon-group"></i> 成员管理</a></li>
        <li><a href="index.php?page=3"><i class="icon-user"></i> 个人中心<span class="badge"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="main">
	<div class="left">
		<ul>
			<li class="transition"><a href="index.php?page=3">个人资料</a></li>
			<li class="transition"><a href="index.php?page=4">留言消息<span class="badge get_mes"></span></a></li>
			<li class="transition"><a class="present" href="index.php?page=5">回复消息<span class="badge back_mes"></span></a></li>
		</ul>
	</div>
	<div class="right" id="right"></div>
    </div>
</body>
</heml>